$honeydew: #A8DADC;

body {
  background-color: #90E0EF;
}

.link {
  color: white;
  padding: 5px;
}

.signinPageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
